@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.account {
    .wrapper {
        .accountForm {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 914px;
            padding: 30px 25px 30px 25px;
            margin: auto;
            .formTitle {
                font-size: 24px;
            }
            .formDetails {
                padding: 10px;
                .formDetailsInputs {
                    margin-top: 20px;
                    display: flex;
                    align-items: flex-end;
                    gap: 25px;
                    justify-content: space-between;
                    .photoInput {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 2px $main-color;
                        width: 188px;
                        height: 188px;
                        border-radius: 50%;
                    }
                    .textInputs {
                        gap: 20px;
                        max-width: 631px;
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 auto;
                        @include text-input-styles;
                    }
                }
            }
            .button {
                text-transform: capitalize;
                width: 95px;
                height: 40px;
                border-radius: 10px;
                margin: 0 auto;
            }

            .save {
                background-color: $main-color;
            }
            .delete {
                background-color: #d13737;
                margin: 0;
            }
            .formChangePassword {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                @include text-input-styles;
            }

            .formDeleteAcc {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 45px;
                .formDeleteAccTitle {
                    color: #d13737;
                    font-size: 20px;
                    font-weight: 600;
                }
                .formDeleteAccText {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .account {
        .wrapper {
            .accountForm {
                padding: 0;
                .formDetails {
                    padding: 0;
                }
                .formChangePassword {
                    padding: 0;
                }
                .formDeleteAcc {
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .account {
        .wrapper {
            .accountForm {
                padding-bottom: 30px;
                .formTitle {
                    font-size: 18px;
                    font-weight: 600;
                }
                .formDetails {
                    .formDetailsInputs {
                        display: flex;
                        align-items: normal;
                        flex-direction: column;
                        .photoInput {
                            margin: 0 auto;
                        }
                        .textInputs {
                            max-width: 100%;
                            gap: 15px;
                        }
                    }
                }
                .formChangePassword {
                    gap: 15px;
                }
                .formDeleteAcc {
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 0;
                    .formDeleteAccText {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
