@import "../../style/variables.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .wrapper {
        margin-top: 0;
    }
    .headerContainer {
        padding-top: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burgerButton {
            display: none;
        }

        .headerTitle {
            font-size: 48px;
            font-weight: 600;
        }
        .headerNotifications {
            display: block;
            width: 29px;
            height: 30px;
            cursor: pointer;
            .MuiSvgIcon-root {
                color: $main-color;
                width: 100%;
                height: 100%;
                &:hover {
                    scale: 1.2;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .headerContainer {
            padding-bottom: 10px;
            padding-top: 29px;
            .headerTitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        .wrapper {
            background-color: $secondary-color;
        }
        z-index: 105;
        .headerContainer {
            .burgerButton {
                display: block;
                width: 26px;
                height: 26px;
                position: relative;
                cursor: pointer;
            }
            .burgerButton:before {
                content: "";
                position: absolute;
                top: 0;
                width: 26px;
                background-color: $main-color;
                height: 4px;
            }

            .burgerButton span {
                position: absolute;
                top: 11px;
                width: 26px;
                background-color: $main-color;
                height: 4px;
            }

            .burgerButton:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 26px;
                background-color: $main-color;
                height: 4px;
            }
            .headerTitle,
            .headerNotifications {
                position: relative;
                z-index: 103;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .headerContainer {
            padding-top: 29px;
        }
    }
}
